<!DOCTYPE html>
<html>
<head>
    <title>Appsistencia</title>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
<div id="app">
    <div class="row">
        <div class="text-center">
            <h1><img src="./css/logo.png" class="img-circle" style="height: 70px; width: 70px;margin-right:10px;">Appsistencia</h1>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
            <div class="text-center">
                <div class="col-md-6">
                <div class="form-group">
                    <label for="cmb_personas">Persona:</label>
                    <select class="form-control" id="cmb_personas" v-model="persona" @change="cmbChange" required>
                        <option :value="null">Seleccione una persona</option>
                        <option v-for="p in personas" :value="p.nombre">
                            {{ p.nombre }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="text-center">
            <div class="col-md-6">
                <form @submit.prevent="guardar">
                <div class="form-group">
                    <label for="date_fecha">Fecha:</label>
                    <input type="date" id="date_fecha" class="form-control" v-model="fecha" required>
                    <label class="radio-inline">
                        <input type="radio" name="radio_asistencia" id="presente" :value="true" v-model="asistencia" required> Presente
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="radio_asistencia" id="ausente" :value="false" v-model="asistencia" required> Ausente
                    </label>
                </div>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <hr>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="text-center">
                <table class="table table-bordered">
                    <thead>
                    <th class="text-center">Dia</th>
                    <th class="text-center">Asistencia</th>
                    </thead>
                    <tbody>
                    <tr v-for="v in asistencias">
                        <td><strong><em>{{v.fecha}}</em></strong></td>
                        <td>{{v.asistencia? 'Presente' : 'Ausente'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script>
    const mlabKey = '-sMr1mNn6eSrK0UwllpPWyUqDc98Mq5O'
    const collectionURL = 'https://api.mlab.com/api/1/databases/appsistencia/collections/personas?apiKey=' + mlabKey
    var app = new Vue({
        el: '#app',
        data: {
            personas: [],
            persona: null,
            asistencias: null,
            fecha: null,
            asistencia: null
        },
        mounted() {
            this.loadPersonas()
        },
        methods: {
            loadPersonas: function () {
                this.loadJSON()
                    .then(r => {
                    this.personas = r
                })
            },
            loadJSON: function () {
                return fetch(collectionURL)
                    .then(r => r.json())
            },
            saveJSON: function (obj) {
                return fetch(collectionURL, {
                    body: JSON.stringify(obj),
                    method: 'POST',
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                })
                    .then(response => response.json())
                    .then(r => this.loadPersonas())
            },
            cmbChange: function () {
                if (this.persona === null) {
                   this.asistencias = null
                    return
                }
                let asist = this.personas.filter(p => p.nombre == this.persona)
                this.asistencias = asist[0].asistencias
            },
            guardar: function () {
                if (!this.persona) {
                    alert('Debe seleccionar una persona!')
                    return
                }
                let p = this.personas.filter(p => p.nombre == this.persona)[0]
                let a = p.asistencias
                a.push({
                    fecha: this.fecha,
                    asistencia: this.asistencia
                })
                this.saveJSON(p)
            }
        }
    })
</script>
</body>
</html>
